.login-title{
    padding-bottom: 1rem;
}
.dialog-modal{
    background-color: rgb(229, 223, 223);
    width: 50vw;
    height: 80vw;
    top: 5vh;
}
.form-name{
    padding: 0.25rem 0;
}

dialog{
    left: calc((100vw - 50vw)/2);
    top: calc((100vh - 80vw)/2);
    padding: .5rem;
    border-radius: 1rem;
  }

@media (max-width:640px){
    dialog{
        left: calc((100vw - 80vw)/2);
        top: calc((100vh - 90vh)/2);
      }
      .dialog-modal{
          width: 80vw;
          height: 90vw;
          top: 5vh;
      }
}

@media (max-width:480px){
    dialog{
        left: calc((100vw - 90vw)/2);
        top: calc((100vh - 90vw)/2);
      }
      .dialog-modal{
          width: 90vw;
          height: 90vw;
          top: 5vh;
      }
}