.jumbo-wrapper{
    display: flex;
    justify-content: center;

}
.jumbo{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;background: rgb(131,58,180);
    background: linear-gradient(174deg, rgba(131,58,180,.5) 0%, rgba(253,29,29,.5) 50%, rgba(252,176,69,.5) 100%);
    color: rgb(0, 7, 70);
    width: 100vw;
    height: 60vh;
    border-radius: 1rem;

}