.instrument-filter-buttons{
    display: flex;
    margin: 1rem 5vw;
    padding: 0.5rem;
    gap: 1rem;
    overflow-x:scroll;
    height: 90px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-shadow-color:aqua;


    & .filter-button{
        min-width: 150px;
        border-radius: 2rem;
    }
}
.musicians-title{
    padding: 0.5rem;
}
.subtitle{
    padding: 0.5rem;
}