.user-profile-section{
    display:flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    

    & .mus-description{
        font-size: 0.75rem;
        padding: 0.5rem ;
    }
    .user-section{
        display: flex;
        align-self: start;
        gap: 1rem;
        padding: 0.5rem;

        & .user-info{
            h4{
                font-size: 1.25rem;
                padding: 0.5rem 0 ;
            }
            h3{
                padding: 0.25rem 0;
            }
        }
    }
}
.inserction-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    align-items: start;
    padding: 1rem;
    gap: 1rem;
}
.imgs-inserction{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.prof-pic-inserction>img {
    border-radius: 50%;
    border: 4px solid rgb(97, 94, 94)

}
.main-img{
    & img{
        border-radius: 1rem;
        border: 4px solid rgb(97, 94, 94)
    }
}

@media (max-width:1024px){
    .inserction-layout{
        display: flex;
        flex-direction: column;
        & .user-profile-section{
            padding-bottom: 1rem ;
        }
    }
}