.navbar {
    background-color:transparent;
    height: 60px;
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & .navlinks{
        display:flex;
        gap: 1rem;
        align-items: center;
    }
    .logo{
        height: 50px;
        & > img{
            border-radius: 0.5rem;
       }
    }


    & > * {
        .link {
            color:rgb(7, 55, 119);
            text-decoration: none;
            font-weight: 700;
        }
    }
    .searchbar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        padding: 1rem;
        
        & .search-button{
            height:25px;
            padding: 0 0.5rem;
        }
        
        & .inputbar{
            width: 400px;
            height: 30px;
            padding: 0 0.5rem;
            
        }
    }
}
.nav-interrupter{
    height: 2px;
    width: 95vw;
}
img{
    max-height: 100%;
}
.name-and-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}