@import './components/navbar.scss';
@import './pages/home.scss';
@import './pages/musicians.scss';
@import './pages/user.scss';
@import './pages/singleMusician.scss';
@import './components/musicianCard.scss';
@import './modals/form.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
  }

  .app-body{
    overflow-y: scroll;
    height: 90vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-shadow-color:aqua;
  }
  .main-app{
    min-height:100vh;
    background: rgb(232,232,232);
    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgb(151, 151, 151) 95%);
  }

  img{
    max-width: 100%;
  }
  button{
    padding: 0.5rem 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(84, 84, 84);
    color: rgb(255, 217, 170);
    border: 3px solid transparent;
    &:hover{
      background-color: rgb(60, 60, 60);
      border: 3px solid rgb(47, 34, 34);
      border-radius: 0.5rem;
    }
}
.close-button{
    display: flex;
    justify-content: flex-end;
    right: 10px;
}
  
    
  .musician-form{
    &>h4,p {
      padding: .5rem;
    }
    &>input{
      padding: .25rem;
    }
  }
  .searchbar{
    padding: 0.5rem;
  }
  
 a, .link {
  text-decoration:none;
  color: inherit;
  & :hover{
    text-decoration:underline;
  }
 }

 .error{
  padding: 1rem;
  display: grid;
  font-weight: 600;
  font-size: .75rem;
  color: orangered;

 }