@import './components/navbar.scss';
@import './components/musicianCard.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  img{
    max-width: 100%;
  }
  button{
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(207, 202, 202);
    &:hover{
        border-radius: 0.5rem;
        background-color: rgb(173, 171, 171);
    }
}
.close-button{
    display: flex;
    justify-content: flex-end;
    right: 10px;
}
  
dialog{
    $dialogWidth: 30vw;
    $dialogHeight: 80vh;
    width: $dialogWidth;
    height: $dialogHeight;
    left: calc((100vw - $dialogWidth)/2);
    top: calc((100vh - $dialogHeight)/2);
    padding: .5rem;
    border-radius: 1rem;
    
  }
    
 