@import './components/navbar.scss';
@import './pages/home.scss';
@import './pages/musicians.scss';
@import './pages/singleMusician.scss';
@import './components/musicianCard.scss';
@import './modals/form.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .app-body{
    overflow-y: scroll;
    height: 90vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-shadow-color:aqua;
  }
  .main-app{
    min-height:100vh;
    background: rgb(232,232,232);
    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgb(151, 151, 151) 95%);
  }

  img{
    max-width: 100%;
  }
  button{
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    border: none;
    background-color: rgb(84, 84, 84);
    color: rgb(255, 217, 170);
    border: 2px solid black;
    &:hover{
      border-radius: 0.5rem;
      background-color: rgb(160, 160, 160);
      color: rgb(21, 19, 16);
      font-weight: 500;
      font-style: oblique;
    }
}
.close-button{
    display: flex;
    justify-content: flex-end;
    right: 10px;
}
  
dialog{
    $dialogWidth: 30vw;
    $dialogHeight: 80vh;
    width: $dialogWidth;
    height: $dialogHeight;
    left: calc((100vw - $dialogWidth)/2);
    top: calc((100vh - $dialogHeight)/2);
    padding: .5rem;
    border-radius: 1rem;
  }
  .musician-reel{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
    
  .musician-form{
    &>h4,p {
      padding: .5rem;
    }
    &>input{
      padding: .25rem;
    }
  }
  .searchbar{
    padding: 0.5rem;
  }
 